.container {
    position: relative;
    background-color: rgb(230, 230, 230);
    width: 50%;
    height: 80%;
    margin: 40px auto;
    padding: 80px;
}
.stampcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}
.centerText {
    text-align: center;
    padding-top: 10px;
}
@media (max-width: 640px) {
    .container {
        padding: 24px 16px;
        width: 80%;
    }
}